:root {
  --bg-color: #d2d5e4;
  --color-cotton-ball: #f1f4fe;
  --color-light: #ffffff;
  --color-orchid: #7887f9;
  --color-periwinkle-blue: #8c9cfa;
  --color-raspberry: #e179a9;
  --color-natrolite: #eaba6f;
  --color-white-heat: #fdf8f0;
  --color-deepest-fig: #434469;
  --color-green: lime;
  --color-mint-cream: #f4fff6;
  --color-white-desert: #fdf9f1;
}
