<div class="rainfall">
  <div class="rainfall__extra">
    <h3 class="rainfall__title">Monthly Rainfall</h3>
    <div class="rainfall__indicators">
      <div class="rainfall__rain">Rain</div>
      <div class="rainfall__sun">Sun</div>
    </div>
  </div>
  <div class="rainfall__content">
    <div class="rainfall__chart">
      <div class="rainfall__chart-column">
        <div class="rainfall__chart-rain"></div>
        <div class="rainfall__chart-sun"></div>
      </div>
      <div class="rainfall__chart-column">
        <div class="rainfall__chart-rain"></div>
        <div class="rainfall__chart-sun"></div>
      </div>
      <div class="rainfall__chart-column">
        <div class="rainfall__chart-rain"></div>
        <div class="rainfall__chart-sun"></div>
      </div>
      <div class="rainfall__chart-column">
        <div class="rainfall__chart-rain"></div>
        <div class="rainfall__chart-sun"></div>
      </div>
      <div class="rainfall__chart-column">
        <div class="rainfall__chart-rain"></div>
        <div class="rainfall__chart-sun"></div>
      </div>
      <div class="rainfall__chart-column">
        <div class="rainfall__chart-rain"></div>
        <div class="rainfall__chart-sun"></div>
      </div>
      <div class="rainfall__chart-column">
        <div class="rainfall__chart-rain"></div>
        <div class="rainfall__chart-sun"></div>
      </div>
      <div class="rainfall__chart-column">
        <div class="rainfall__chart-rain"></div>
        <div class="rainfall__chart-sun"></div>
      </div>
      <div class="rainfall__chart-column">
        <div class="rainfall__chart-rain"></div>
        <div class="rainfall__chart-sun"></div>
      </div>
      <div class="rainfall__chart-column">
        <div class="rainfall__chart-rain"></div>
        <div class="rainfall__chart-sun"></div>
      </div>
      <div class="rainfall__chart-column">
        <div class="rainfall__chart-rain"></div>
        <div class="rainfall__chart-sun"></div>
      </div>
      <div class="rainfall__chart-column">
        <div class="rainfall__chart-rain"></div>
        <div class="rainfall__chart-sun"></div>
      </div>
    </div>
  </div>
</div>
