<section class="weekdays">
  <div class="weekdays__card card">
    <div class="card__img">
      <img src="./img/cloudy_foggy_color.png" alt="weather icon" />
    </div>
    <span class="card__day-name">Mon</span>
    <span class="card__temp">20 <sup>o</sup></span>
  </div>

  <div class="weekdays__card card">
    <div class="card__img">
      <img src="./img/cloudy_sunny_color.png" alt="weather icon" />
    </div>
    <span class="card__day-name">Mon</span>
    <span class="card__temp">20 <sup>o</sup></span>
  </div>

  <div class="weekdays__card card">
    <div class="card__img">
      <img src="./img/foggy_night_color.png" alt="weather icon" />
    </div>
    <span class="card__day-name">Mon</span>
    <span class="card__temp">20 <sup>o</sup></span>
  </div>

  <div class="weekdays__card card card--active">
    <div class="card__img">
      <img src="./img/rain_heavy_color.png" alt="weather icon" />
    </div>
    <span class="card__day-name">Mon</span>
    <span class="card__temp">20 <sup>o</sup></span>
  </div>

  <div class="weekdays__card card">
    <div class="card__img">
      <img src="./img/rain_sunny_color.png" alt="weather icon" />
    </div>
    <span class="card__day-name">Mon</span>
    <span class="card__temp">20 <sup>o</sup></span>
  </div>

  <div class="weekdays__card card">
    <div class="card__img">
      <img src="./img/snowy_heavy_color.png" alt="weather icon" />
    </div>
    <span class="card__day-name">Mon</span>
    <span class="card__temp">20 <sup>o</sup></span>
  </div>

  <div class="weekdays__card card">
    <div class="card__img">
      <img src="./img/thunder_night_color.png" alt="weather icon" />
    </div>
    <span class="card__day-name">Mon</span>
    <span class="card__temp">20 <sup>o</sup></span>
  </div>
</section>
