.main-card {
  width: 80%;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(
    135deg,
    rgba($color: #7887f9, $alpha: 0.5),
    #7887f9
  );
  color: var(--color-light);
  border-radius: 20px;
  box-shadow: 3px 3px 15px rgba($color: #000000, $alpha: 0.2);

  .select__selected span {
    color: var(--color-light);
  }
  .select__selected path {
    fill: var(--color-light) !important;
  }

  .select__option {
    color: var(--color-periwinkle-blue);
  }

  &__extra {
    align-self: flex-start;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__weather-icon {
    width: 70%;

    & img {
      width: 100%;
    }
  }

  &__current-day {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--color-light);
    margin-bottom: 20px;
  }

  &__temp {
    font-size: 72px;
    line-height: 1.2;
    font-weight: 600;
    color: var(--color-light);
    margin-bottom: 20px;
    letter-spacing: 3px;

    sup {
      font-size: 36px;
    }
  }

  &__status {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--color-light);
    margin-bottom: 20px;
  }

  &__stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;

      font-size: 18px;
      font-weight: 500;
      line-height: 1.2;
      color: var(--color-light);
    }

    &-name {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-basis: 45%;

      & svg {
        margin-right: 10px;
      }

      & path {
        fill: var(--color-light);
      }
    }

    &-divider {
      height: 20px;
      width: 2px;
      background-color: var(--color-light);
    }
    &-value {
      flex-basis: 45%;
    }
  }
}
